@import '../../mixins.scss';

.Landing {
    height: 80%;
    overflow: hidden;
    transition: max-height 0.4s ease;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .qui{
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        border: 4px solid #BF6F41;
        border-radius: 5000000px;
        background-color:#F2CDA0 ;
        gap: 50px;
        color: #403324;
        .portrait{
            height: 90%;
            width: auto;
            border-radius: 1000px;
            margin-left: 40px;
        }
        aside{
            width: 55%;
            font-size: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                margin-left: 0;
                margin-top: 0;
            }
            p{
                margin: 0;
            }
            p:first-of-type{
                margin-bottom: 20px;
            }
            .networks-container{
                display: flex;
                gap: 30px;
            }
        }
    }
}