@import '../../mixins.scss';

.Landing {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    .qui{
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px solid #BF6F41;
        border-radius: 5000000px;
        background-color:#F2CDA0 ;
        gap: 50px;
        color: #403324;
        .portrait{
            height: 90%;
            width: auto;
            border-radius: 1000px;
        }
        aside{
            width: 45%;
            font-size: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p{
                margin: 0;
            }
        }
    }
}