@import '../../mixins.scss';

.Landing {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    .portrait{
        height: 100%;
        width: 40%;
        background-image: url('');
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center;
    }
    .landingCrsl{
        width: 30%;
        height: 100%;
    }
}
