@import '../../mixins.scss';

.card{
    width: 47%;
    height: 40%;
    background-color: #F2CDA0;
    border-radius: 10000px;
    display: flex;
    border: 3px solid #D96F32;
    overflow: hidden;
    color : #403324;
    @media screen and (max-width: 800px) {
        max-height: 250px;
    }
    :hover:first-child{
        opacity: 1;
    }
    .card-banner{
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;         
        height: 100%;        
        :hover:first-child{
            width:100%;
        }
        img{
            width: 150%;  
            height: auto;
            object-fit: cover;
            transition: 0.5s;
        }
    }
    .card-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 55%;
        h1{
            color:#D96F32;
            font-size: 28px;
            text-align: center;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 800px) {
                font-size: 23px;
            }
        }
        .icons-container{
            width: fit-content;
            display: flex;
            gap: 20px;
            padding-bottom: 20px;
            border-bottom: 2px solid #403324;
        }
        p{
            height: 60%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            margin: 0;
            @include orange-hover(3px);
            @media screen and (max-width: 800px) {
                font-size: 15px;
            }
        }
    }
}
.card:hover{box-shadow: 0px 0px 50px #D96F32;}