.carrousel {
    position: relative;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width : 1024px) {
        height: 250px;
        width: 89.287vw;
    }
    .banner{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        opacity: 0.5;
    }
    .navArrow {
        width:70px ;
        height: 70px;
        @media (max-width : 1024px) {
            width: 50px;
            height: 50px;
        }
        
    }
    .arrowsContainer{
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        bottom: 170px;
        @media (max-width : 1024px) {
            bottom: 90px;
        }
    }
    .counter{
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        color: white;
        p{
            text-shadow: 2px 2px 5px black;
        }
        @media (max-width : 1024px) {
            display: none;
        }
    }
}