@import '../../mixins.scss';

.header { 
    height: 15%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
    @media screen and (max-width: 800px) {
        flex-direction: column;
        margin-top: 20px;
        height: fit-content;
    }
    .name{
        width: 20%;
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        h1{
        font-size: 45px;
        margin: 0;
        width: 200px;
        }
        @include orange-hover(5px);
    }
    
    nav{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 25px;
        @media screen and (max-width: 800px) {
            width: 90%;
        }
        @media screen and (max-width: 400px) {
            flex-direction: column;
        }
        .link{
            text-decoration: none;
            color: rgb(242, 205, 160);
            @include orange-hover(3px);
        }
        .link.active{
            color: #D96F32;
            
        }
        .link.active:hover{
            cursor:default;
            text-shadow: none
        };
        :last-child{
            width: 180px;
            min-width: 180px;
        }
    }
    .charge-bar{
        height: 4px;
        background-color: rgb(242, 205, 160);
        width:20%;
        border-radius: 10px;
        animation: name duration timing-function delay iteration-count direction fill-mode;;
        text-align: center;
        font-size: 24px;
        @media screen and (max-width: 800px) {
            width: 80%;
            min-height: 3px;
            margin: 20px;
        }
    }
}

