body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #403324;
    color :#F2CDA0;
    font-family: 'Blisey', sans-serif;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 800px) {
      padding-bottom: 20px;
      height: fit-content;
    }
}
#root {
  width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
  font-family: 'Blisey';
  src: url('/font/Blisey.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}